.UserCard{
  height: 220px;
  width: 180px;
  box-sizing: border-box;
  padding: 10px;
  background: darkgray;
  border-radius: 10px;
  opacity: .7;
  margin-bottom: 10px;
  cursor: pointer;
  p{
    display: inline;
    font-weight: bold;
    color: #8961ff;
  }
  &:hover{
    background: #ffb179;
    transition: ease-out 1s;
  }
}